NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBAkHIhL6JcJcEbhKfqeoiotzmAPKehm5w
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=trailer-fie.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=trailer-fie
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=trailer-fie.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=83740392773
NEXT_PUBLIC_FIREBASE_APP_ID=1:83740392773:web:94e3cef91451e56632122c

TMDB_API_KEY=584defb2cd2eca9dc95ac3e8778f723b
BACKEND_API_BASE_URL=http://localhost:8000

